
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="about-section center-row">
        <div class="about-image-container center-row">  
                <img src="{% static '/img/logo2.png' %}" alt="about">
        </div>

        
    <section class="about-section center-row">
        <div class="about-image-container center-row">
        
        </div>

        <div class="about-description-container center-column">
            <h1>Front End Developer</h1>
            <h2>Guerrero-Turla</h2>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, nobis modi! Fugiat consequuntur praesentium ullam numquam sapiente accusantium tempore voluptates cum suscipit commodi vel, corrupti itaque facere qui maxime! Soluta.</p>
        </div>

        <div class="about-skill-container center-column">
            <h2>Skills</h2>
            <div class="skill-list center-row">
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
                <label class="text-label">Skill</label>
            </div>
        </div>

    </section>

{% endblock content %}

