{% extends 'base.html' %}

{% block title %}Home{% endblock title %}
{% load static %}

{% block content %}

  <section class="about-section center-row">

    <div class="about-image-container center-row">
      <img src="{% static './img/logo2.png' %}" alt="">
    </div>

    <div class="about-description-container center-column">
      <h1>My Role as a Dev</h1>
      <h2>Jefferson Guerrero-Turla</h2>

      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem, a? Unde corrupti ullam, inventore consequuntur cum earum porro ratione assumenda asperiores! Quisquam qui inventore, placeat dolorem soluta nisi provident reiciendis odio, similique, debitis animi commodi molestias? Eligendi placeat vero eum natus dicta? Neque dicta consectetur culpa deserunt molestiae dolore, voluptatibus minus laudantium illo accusamus modi, praesentium, tempore iure. Consequatur, quaerat tempora? Quis, reiciendis perferendis tempora, quas quae fugit saepe natus quo ducimus ex sunt itaque ullam reprehenderit repellendus eligendi, officiis libero praesentium ratione nihil neque? Nemo est voluptatum officiis in! 
        <br></br>
        Adipisci ullam necessitatibus maiores sunt aperiam temporibus deserunt doloribus, beatae omnis reiciendis quisquam nihil libero! Esse quam, culpa fugiat quidem minus modi laborum sequi enim harum obcaecati delectus ipsa quaerat repellat cumque corporis neque, expedita fuga quis optio iusto quasi ullam? Ipsum temporibus assumenda earum sapiente illum, suscipit quibusdam quos eligendi, natus minima at! Odio ducimus ipsum sequi, quaerat vero debitis nesciunt laborum cum ratione labore modi dolores magni? Deserunt voluptas hic incidunt. Corporis repudiandae assumenda est laboriosam facilis, minus voluptas vero, dicta placeat, recusandae quam aperiam voluptatibus. ?
      </p>

      <div class="skill-container center-column">

        <h2>Skills</h2>

        <div class="skill-list center-row">
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
          <label for="" class="text-label">Skill</label>
        </div>
    </div>
    </div>

  </section>

{% endblock content %}